<div class="contents row">
  <div class="container">
    <h3>投稿する</h3>
    <%= form_with(model: @item, local: true) do |form| %>
      <%= form.text_field :image, placeholder: "Image Url" %>
 　　　<%= form.text_area  :text, placeholder: "text", rows: "10" %>
      <%= form.text_field :category_id, placeholder: "cotegory" %>
      <%= form.text_field :item_id, placeholder: "nostalgia"  %>
      <%= form.submit "SEND" %>
    <% end %>
  </div>
</div>